@use 'slider';
@use 'button';
@use 'player';
@use 'submenu';
@use '../../tokens' as *;
@use '../../mixins' as *;

#quicksettings-box {
  background-color: a(var(--fg), 0.04);

  > box > button { margin: 10px -10px 10px 5px; }
}

#quicksettings {
  @include glass($radius-xl);
  margin: 6px;
  padding: $gap-lg;
  min-width: 480px;
}
