#inner-player-box {
    background-color: var(--bg-test-light);
    border-radius: 20px;
}

#seek-bar {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#seek-bar trough {
    border-radius: 10px;
    min-height: 8px;
    background-color: var(--bg-test);
    transition: background-color 0.15s ease-in-out;
}

#seek-bar slider {
    border-radius: 100%;
    min-width: 8px;
    min-height: 8px;
}

#seek-bar trough highlight {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-radius: 20px; */
}


#seek-bar trough:hover {
    background-color: mix(var(--bg-test), var(--fg-test), 0.2);
}

#player-box {
    margin: 5px;
}

#player-title {
    font-family: "roboto";
    font-weight: 700;
    color: var(--fg-test);
    font-size: 18px;
}

#player-artist {
    font-family: "roboto";
    font-weight: 600;
    font-size: 13px;
    color: rgb(175, 175, 175);
}

#button-box {
    margin-bottom: 5px;
    margin-right: 5px;
}



#player-icon {
    color: var(--fg-dim);
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

#player-icon.active {
    color: var(--accent);
    border-color: var(--accent);
    border-width: 0px 0px 2px 0px;
    border-radius: 0px 0px 5px 5px;
    border-style:solid;
}

#player-button {
    min-width: 25px;
    min-height: 25px;
    padding: 8px;
    border-radius: 20%;

    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

}

#player-button:hover {
    background-color: alpha(var(--accent), 0.2);
    box-shadow: 0 0 5px -3px alpha(var(--accent), 0.2);
}

#player-button:hover * {
    color: var(--fg-test);
}

#player-button:active {
    background-color: alpha(var(--accent), 0.5);
    box-shadow: 0 0 5px -3px alpha(var(--accent), 0.5);
}