#inner-player-box {
  background-color: alpha(var(--fg-test), 0.05);
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.08);
}

#seek-bar {
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 6px;
}

#seek-bar trough {
  border-radius: 10px;
  min-height: 5px;
  background-color: alpha(var(--fg-test), 0.15);
  transition: background-color 0.15s ease;
}

#seek-bar slider {
  border-radius: 100%;
  min-width: 12px;
  min-height: 12px;
  background-color: var(--fg-test);
}

#seek-bar trough highlight {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--accent);
}

#seek-bar trough:hover {
  background-color: alpha(var(--fg-test), 0.25);
}

#player-box {
  margin: 6px;
}

#player-title {
  font-weight: 700;
  font-size: 16px;
  color: var(--fg-test);
}

#player-artist {
  font-weight: 500;
  font-size: 13px;
  color: var(--fg-dim);
}

#button-box {
  margin-bottom: 6px;
  margin-right: 6px;
}

#player-icon {
  color: var(--fg-dim);
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#player-icon.active {
  color: var(--accent);
  border-style: solid;
  border-color: var(--accent);
  border-width: 0px 0px 2px 0px;
  border-radius: 0px 0px 4px 4px;
}

#player-button {
  min-width: 28px;
  min-height: 28px;
  padding: 8px;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#player-button:hover {
  background-color: alpha(var(--accent), 0.18);
}

#player-button:hover * {
  color: var(--fg-test);
}

#player-button:active {
  background-color: alpha(var(--accent), 0.4);
}
