@import "./components/quicksettings/slider.css";
@import "./components/quicksettings/button.css";
@import "./components/quicksettings/player-dark.css";
@import "./components/quicksettings/submenu.css";

#quicksettings-box {
    background-color: var(--bg-test-light);
}

#quicksettings-box>box>button {
    margin: 10px -10px 10px 5px;
}

#quicksettings {
    background-color: var(--bg-test-transparent);
    margin: 5px;
    padding: 15px;    
}