@import "./components/quicksettings/slider.css";
@import "./components/quicksettings/button.css";
@import "./components/quicksettings/player-dark.css";
@import "./components/quicksettings/submenu.css";

#quicksettings-box {
  background-color: alpha(var(--fg-test), 0.04);
}

#quicksettings-box > box > button {
  margin: 10px -10px 10px 5px;
}

#quicksettings {
  background-color: var(--bg-test-transparent);
  margin: 6px;
  padding: 16px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.1);
}
