#quicksettings-slider {
  margin-left: 10px;
  margin-right: 20px;
}

#quicksettings-slider trough {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 12.5px;
  min-height: 25px;
  background-color: var(--bg-test-transparent);
  transition: background-color 0.1s ease-in-out;

  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.3);
}


#quicksettings-slider trough:hover {
  background-color: var(--bg-test);
}

#quicksettings-slider trough highlight {
  border-radius: 20px 0px 0px 20px;
  background-color: var(--accent);
  margin-right: -12.5px;
}

#quicksettings-slider trough highlight:disabled {
  background-color: var(--fg-dim);
}

#quicksettings-slider slider {
  border-radius: 100%;
  min-width: 25px;
  min-height: 25px;
  box-shadow: 0px 0px 5px 0px rgb(94, 94, 94);
  margin-left: 25px;
  background-color: mix(var(--accent), var(--fg-test), 0.8);
}

#quicksettings-slider slider:hover {
  background-color:  var(--fg-test);
}

#quicksettings-slider slider:disabled {
  background-color: var(--fg-dim);
  /* box-shadow: none; */
}
