#quicksettings-slider {
  margin-left: 8px;
  margin-right: 16px;
}

#quicksettings-slider trough {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-right: 12px;
  min-height: 22px;
  background-color: alpha(var(--fg-test), 0.08);
  transition: background-color 0.15s ease;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.1);
}

#quicksettings-slider trough:hover {
  background-color: alpha(var(--fg-test), 0.13);
}

#quicksettings-slider trough highlight {
  border-radius: 20px 0px 0px 20px;
  background-color: var(--accent);
  margin-right: -12px;
}

#quicksettings-slider trough highlight:disabled {
  background-color: var(--fg-dim);
}

#quicksettings-slider slider {
  border-radius: 100%;
  min-width: 22px;
  min-height: 22px;
  margin-left: 22px;
  background-color: mix(var(--accent), white, 0.2);
  box-shadow: 0px 1px 4px 0px alpha(black, 0.4);
  transition: background-color 0.15s ease;
}

#quicksettings-slider slider:hover {
  background-color: white;
}

#quicksettings-slider slider:disabled {
  background-color: var(--fg-dim);
}
