* {
    all: unset;
}


#overview-window {
    background-color: alpha(black,0.9);
    border-radius: 50px;
    padding: 10px;
}

#overview-workspace-bg,
#overview-client-box {
    background-color: alpha(white, 0.1);
    border-radius: 20px;
}

#overview-client-box:hover {
    background-color: alpha(white, 0.2);
}

#overview-client-box:active {
    background-color: alpha(white, 0.4);
}

#overview-workspace-bg {

    background-color: alpha(white, 0.07);
}

#overview-workspace-box {
    min-height: 50px;
    padding: 15px;
}

#overview-workspace-box label {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: "roboto";
}