.tray,
.tray menu,
.cool-border {
    border-radius: 20px;
    border-style: solid;
    border-width: 0.3px;
    border-color: alpha(var(--fg-test), 0.5);
    padding: 3px 5px 3px 5px;
}

.tray menuitem,
.button-border {
    border-style: solid;
    border-width: 1.2px;
    border-radius: 10px;
    border-color: transparent;
}

.tray menuitem,
.button-basic-props label,
.button-basic-props image,
.button-basic-props {
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.tray menuitem,
.button-basic-props {
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
}

.tray menuitem {
    padding: 5px;
    margin: 3px;
}

.tray menuitem:hover,
.button-basic:hover {
    background-color: alpha(var(--bg-test), 0.2);
    box-shadow: 0 0 5px -3px alpha(var(--accent), 0.2);
    border-color: alpha(var(--fg-test), 0.4);
}

.button-basic:hover * {
    color: var(--fg-test);
}

.tray menuitem:active,
.tray menuitem:focus,
.button-basic-active,
.button-basic:focus,
.button-basic:active {
    border-color: alpha(var(--fg-test), 0.4);

    background-color: alpha(var(--accent), 0.8);
    box-shadow: 0 0 5px -3px alpha(var(--accent), 0.5);
}

.button-basic-active *,
.button-basic:focus *,
.button-basic:active * {
    color: alpha(var(--bg-test), 0.8);
}

.tray,
.tray menu,
.window-basic {
    background-color: var(--bg-test-transparent);
    border-radius: 20px;
    padding: 10px;
}


.label-title {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'JetBrains Mono';
}

/* APP BAR */
#app-bar {
    padding: 15px;
    border-radius: 30px;
}

#app-bar button {
    padding: 10px;
    border-radius: 20px;

}

#app-bar button.active {
    background-color: alpha(var(--fg-dim), 0.4);
    box-shadow: 0 0 5px -2px alpha(var(--fg-test), 0.5);
    ;
}

#app-bar button:hover {
    background-color: var(--fg-test-transparent);
}

#app-bar-corner {
    padding-top: 80px;
    /* background-color: red; */
}

#app-bar-corner * {
    background-color: var(--bg-test-transparent);
}

/* SYSTRAY specific */
.tray menuitem arrow {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    color: var(--fg-test);
    min-width: 15px;
    min-height: 15px;
}

.tray menuitem radio {
    -gtk-icon-source: -gtk-icontheme("radio-symbolic");
    color: var(--fg-test);
    min-width: 15px;
    min-height: 15px;
}

.tray menuitem check {
    -gtk-icon-source: -gtk-icontheme("checkbox-symbolic");
    color: var(--fg-test);
    min-width: 1em;
    min-height: 1em;
    padding-right: 0.5em;
}

.tray menuitem check:checked {
    -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
}

.tray menuitem:disabled label {
    color: var(--fg-dim);
}

.tray menuitem separator {
    background-color: var(--fg-dim-transparent);
    padding-top: 1px;
}

.tray menuitem separator:last-child {
    padding: unset;
}