@import "./components/components.css";
@import "colors.css";
@import "global-classes.css";

* {
  all: unset;
  font-family: "roboto";
  font-weight: 500;
  font-size: 15px;
  color: var(--fg-test);
}

#system-tray {
  background-color: var(--bg-test-transparent);
}

tooltip {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-test-transparent);
}

tooltip label {
  font-family: "roboto";
  font-weight: 500;
  font-size: 15px;
}

scale {
  margin-top: 10px;
  margin-bottom: 10px;
}

#panel-button-active,
#date-time,
#panel-button {
  margin: 0px 2px 0px 2px;
  padding: 0px 5px 0px 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: transparent;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#date-time:hover,
#panel-button:hover {
  background-color: alpha(mix(var(--accent), black, 0.5), 0.8);
  border-color: var(--fg-test-transparent);
  padding: 2px 7px 2px 7px;
  margin: -2px 0px -2px 0px;
}

#panel-button label {
  font-weight: 700;
}

#date-time label {
  font-weight: 900;
  /* color: var(--orange); */
}

#panel-button.activated {
  background-color: alpha(white, 0.15);
  border-style: solid;
  border-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: alpha(white, 0.5);
  padding: 2px 7px 2px 7px;
  margin: -2px 0px -2px 0px;
}

#date-time:active,
#date-time:active label,
#panel-button-active,
#panel-button-active image,
#panel-button:active label,
#panel-button:active image,
#panel-button:active>*>*>label,
#panel-button:active>*>label,
#panel-button-active>box>label,
#panel-button:active {
  background-color: var(--accent);
  color: var(--bg);
  padding: 2px 7px 2px 7px;
  margin: -2px 0px -2px 0px;
}


#player-stack-button {
  background-color: var(--fg-test-transparent);
  min-width: 30px;
  min-height: 10px;
  margin: 10px 1px 10px 1px;
}

#player-stack-button:hover {
  background-color: var(--fg-test-transparent);
}
#workspaces>button {
  min-height: 10px;
  margin: 13px 2px 13px 2px;
  transition-property: border-radius;
  transition-property: min-width;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: alpha(var(--fg-test), 0.9);
}

#workspaces {
  margin: 0px 5px 0px 5px;
}

#player-stack-button.active,
#workspaces>button.active {
  min-width: 20px;
  border-radius: 7px;
  margin: 10px 1px 10px 1px;
  background-color: var(--accent);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


#player-stack-button.empty,
#workspaces>button.empty {
  background-color: var(--fg-dim-transparent);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#workspaces>button.urgent {
  background-color: var(--red-dim);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#submenu-title {
  border-style: solid;
  border-bottom-width: 2px;
  border-color: var(--bg3);
  margin-bottom: 5px;
}

#submenu-label {
  margin-left: 5px;
}

#submenu-title-label {
  font-size: 17px;
}

#submenu-item {
  margin: 5px;
}

#panel-icon {
  margin-left: 2px;
  font-size: 25px;
  margin-right: 2px;
}

#panel-text {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 900;
}

