@import "./components/bar/battery.css";
@import "./components/bar/prayer-time.css";

#system-bar {
  background-color: alpha(white, 0.01);
}

#system-bar-corner * {
  background-color: alpha(black, 0.9);
}


#system-bar-group.center,
#system-bar-group.right {
  border-bottom-left-radius: 15px;
}

#system-bar-group.center,
#system-bar-group.left {
  border-bottom-right-radius: 15px;
}

#system-bar-group {
  padding: 0px 10px 0px 10px;
  background-color: alpha(black, 0.9);
  /* border-bottom-right-radius: 15px; */
  /* border-bottom-left-radius: 15px; */
  /* border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--accent); */
}