@import "./components/bar/battery.css";
@import "./components/bar/prayer-time.css";
@import "./components/bar/power-menu.css";

#system-bar {
  background-color: alpha(black, 0.005);
}

#system-bar-group,
#system-bar-corner * {
  background-color: var(--bg-test-transparent);
}

#system-bar-group.center,
#system-bar-group.right {
  border-bottom-left-radius: 14px;
  padding-left: 12px;
}

#system-bar-group.center,
#system-bar-group.left {
  border-bottom-right-radius: 14px;
  padding-right: 12px;
}

#system-bar-group.center {
  min-width: 140px;
}
