@import "./components/bar/battery.css";
@import "./components/bar/prayer-time.css";
@import "./components/bar/power-menu.css";

#system-bar {
  background-color: alpha(white, 0.01);
}

#system-bar-group,
#system-bar-corner * {
  background-color: var(--bg-test-transparent);
}


#system-bar-group.center,
#system-bar-group.right {
  border-bottom-left-radius: 15px;
}

#system-bar-group.center,
#system-bar-group.left {
  border-bottom-right-radius: 15px;
}

#system-bar-group {
  padding: 0px 10px 0px 10px;
}