#battery-icon {
  min-height: 200px;
}

#battery-cairo-icon {
  min-width: 56px;
  min-height: 26px;
  margin: 4px 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  transition-property: border-color, background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#battery-cairo-icon.default {
  color: var(--fg-test);
  border-color: alpha(var(--accent), 0.9);
  background-color: alpha(var(--accent), 0.3);
}

#battery-cairo-icon.charging {
  color: var(--green);
  border-color: alpha(var(--green), 0.9);
  background-color: alpha(var(--green), 0.25);
}

#battery-cairo-icon.low {
  color: var(--yellow);
  border-color: alpha(var(--yellow), 0.9);
  background-color: alpha(var(--yellow), 0.22);
}

#battery-cairo-icon.critical {
  color: var(--red);
  border-color: alpha(var(--red), 0.9);
  background-color: alpha(var(--red), 0.22);
}
