#prayer-info {
  background-color: var(--bg-test-transparent);
  border-radius: 20px;
  margin: 5px;
  padding: 20px;
}

#prayer-info-prayer-label {
  font-size: 14px;
  font-weight: bold;
  color: var(--fg-test);
  margin: 3px;
}

#prayer-info-row.urgent {
  margin: 5px 0px 5px 0px;
  padding: 0px 5px 0px 5px;
  background-color: var(--fg-dim-transparent);
  border-radius: 5px;
}

#prayer-info-time-label {
  font-size: 14px;
  color: var(--fg-test);
}

#prayer-info-separator {
  /* margin: 0px 0px 0px 15px; */
  min-height: 1px;
  background-color: var(--fg-dim-transparent);
}