* {
    all: unset;
    font-family: "roboto slab";
    font-weight: 900;
    font-size: 45px;
}

#radial-menu {
    min-width: 750px;
    min-height: 750px;
    padding: 30px;
}

#radial-menu-center {
    background-color: rgba(35, 197, 54, 0.6); 
    /* padding: 60px; */
    border-radius: 100%;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: solid;


}

#radial-menu-center image {
    color: black;
}

.radial-segment {
    padding: 30px;
    background-color: rgba(35, 197, 54, 0.6);
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: solid;
}

.radial-segment:hover {
    padding: 10px;
    background-color: rgba(197, 35, 35, 0.6);
    border-color: rgba(197, 35, 35, 1);
    /* border-width: 10px; */
}