#appmenu,
#appmenu-corner * {
    background-color: var(--bg-test-transparent);
}

#appmenu {
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    min-height: 600px;
    min-width: 350px;
    transition: min-height 10s cubic-bezier(0.42, 0, 0.58, 1);


    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: alpha(var(--fg-test), 0.3);

}


#appmenu-entry,
#appmenu-button label {
    font-family: "roboto";
}

#appmenu-entry {
    background-color: var(--bg-test-light);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0px 8px 0px;
    color: var(--fg-test);
    caret-color: var(--fg-test);
    border-radius: 50px;
    transition: min-width 0.5s cubic-bezier(0.33, 1.29, 1, 1.15);
}

#appmenu-entry.active {
    min-width: 250px;
}

#appmenu-entry image {
    color: var(--bg-test);
    margin-right: 5px;
}

#appmenu-entry.active selection,
#appmenu-entry selection {
    background-color: var(--fg-test);
    color: var(--bg-test);
}

#appmenu-scroll slider {
    border-width: 2px;
    border-color: var(--fg-test-transparent);
    border-radius: 20px;
    border-style: solid;
}

@keyframes app-slot-shine {
    50% {
        background-color: var(--fg-test-transparent);
        padding: 10px 5px 10px 5px;
    }

    100% {
        background-color: unset;
    }
}

#appmenu-button.shine {
    animation: app-slot-shine;
}

#appmenu-button {
    background-color: var(--bg-test-light);
    margin: 5px;
    padding: 10px;
    transition: background-color 0.1s ease-in-out;
}

#appmenu-app-name {
    color: var(--fg-test);
}

#appmenu-app-desc {
    font-style: italic;
    color: var(--fg-dim);
}

/* #appmenu-button:hover label, */
#appmenu-button:hover {
    background-color: alpha(var(--fg-test), 0.25);
}

/* #appmenu-button:focus image,
#appmenu-button:focus label {
    color: black;
} */

#appmenu-button:focus {
    background-color: alpha(var(--fg-test), 0.4);
}

#appmenu-button:active {
    background-color: alpha(var(--fg-test), 0.4);
}

#appmenu-button label {
    font-weight: bold;
    font-size: 16px;
}