#appmenu,
#appmenu-corner * {
  background-color: var(--bg-test-transparent);
}

#appmenu {
  padding: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  min-height: 600px;
  min-width: 350px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: alpha(var(--fg-test), 0.1);
}

/* Search entry */
#appmenu-entry,
#appmenu-button label {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#appmenu-entry {
  background-color: alpha(var(--fg-test), 0.07);
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  color: var(--fg-test);
  caret-color: var(--fg-test);
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.1);
  transition: min-width 0.4s cubic-bezier(0.33, 1.29, 1, 1.15),
              border-color 0.2s ease;
}

#appmenu-entry:focus {
  border-color: alpha(var(--accent), 0.5);
}

#appmenu-entry.active {
  min-width: 260px;
}

#appmenu-entry image {
  color: var(--fg-dim);
  margin-right: 6px;
}

#appmenu-entry.active selection,
#appmenu-entry selection {
  background-color: alpha(var(--accent), 0.35);
  color: var(--fg-test);
}

#appmenu-scroll slider {
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.2);
  border-radius: 20px;
  border-style: solid;
}

/* App slots */
@keyframes app-slot-shine {
  50% {
    background-color: alpha(var(--fg-test), 0.15);
    padding: 10px 5px;
  }
  100% {
    background-color: unset;
  }
}

#appmenu-button.shine {
  animation: app-slot-shine 0.3s ease;
}

#appmenu-button {
  background-color: alpha(var(--fg-test), 0.05);
  margin: 4px;
  padding: 10px 12px;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  transition-property: background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#appmenu-app-name {
  color: var(--fg-test);
}

#appmenu-app-desc {
  font-style: italic;
  color: var(--fg-dim);
}

#appmenu-button:hover {
  background-color: alpha(var(--fg-test), 0.1);
  border-color: alpha(var(--fg-test), 0.1);
}

#appmenu-button:focus {
  background-color: alpha(var(--fg-test), 0.15);
  border-color: alpha(var(--accent), 0.4);
}

#appmenu-button:active {
  background-color: alpha(var(--accent), 0.25);
  border-color: alpha(var(--accent), 0.5);
}

#appmenu-button label {
  font-weight: 600;
  font-size: 15px;
}
