#notification-box {
    background-color: alpha(#000000, 0.9);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-width: 400px;
  }
  
  #notification-action-buttons,
  #notification-box box label {
    color: white;
  }
  
  #notification-action-buttons button.start-action {
    border-radius: 0px 0px 0px 20px;
    margin-left: 0px;
  }
  
  #notification-action-buttons button.end-action {
    margin-right: 0px;
  }
  
  #notification-seperator {
    min-height: 3px;
    background-color: alpha(white, 0.4);
  }
  
  #notification-action-buttons button {
    background-color: alpha(#393939, 0.4);
    padding: 7px;
    margin: 0px 2px 0px 2px;
  }
  
  #notification-title-button {
    border-radius: 100%;
  }
  
  #notification-title-button:hover {
    background-color: alpha(#404040, 0.4);
  }
  
  
  #notification-title-button:active {
    background-color: alpha(#dadada, 0.4);
  }
  
  #notification-title-circular-progress-bar {
    border: solid 0px var(--accent);
    color: transparent;
  
  }
  
  #notification-action-buttons button:hover {
    background-color: #404040;
  }
  
  #notification-action-buttons button:active label,
  #notification-action-buttons button:active {
    background-color: #dadada;
    color: #2c2c2c;
  }
  
  #notification-image image {
    border-radius: 10px;
  }
  
  #notification-icon {
    margin-right: 5px;
  }
  
  #notification-title {
    margin: 10px 0px 0px 20px;
  }
  
  #notification-content {
    margin: 5px 15px 15px 15px;
  }