#osd {
  border-left-width: 5px;
  border-color: var(--accent);
  border-style: solid;
  min-height: 300px;
  background-color: alpha(black, 0.9);
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#osd-corner {
  padding-left: 45px;
}

#osd-corner * {
  background-color: alpha(black, 0.9);
}

#osd-icon image {
  color: white;
}

#osd-progress-bar {
  margin: 10px 5px 10px 5px;
  border-radius: 30px;
}

#osd-progress-bar * {
  border-radius: 30px;
  background-color: #202020;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  /* transition: background-color 0.3s cubic-bezier(.42,0,.58,1); */
}

#osd-progress-bar *.filled {
  background-color: white;
  box-shadow: 0px 0px 2px 1px white;
}

#osd-cairo-bar {
  color: #202020;
  background-color: white;
  margin: 5px;
  border-radius: 6px;
}
