#overview-window {
  background-color: var(--bg-test-transparent);
  border-radius: 20px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.1);
}

#overview-icon {
  margin: 6px;
  background-color: alpha(var(--fg-test), 0.06);
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: alpha(var(--fg-test), 0.12);
  padding: 5px;
  transition-property: background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#overview-client-box,
#overview-workspace-bg,
#overview-frame {
  border-radius: 10px;
}

#overview-client-box {
  background-color: alpha(var(--accent), 0.85);
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#overview-client-box:hover {
  background-color: alpha(var(--accent), 0.6);
}

#overview-client-box:active {
  background-color: var(--accent);
}

#overview-workspace-bg {
  background-color: alpha(var(--fg-test), 0.06);
  border-style: solid;
  border-width: 1px;
  border-color: alpha(var(--fg-test), 0.1);
}

#overview-workspace-box {
  padding: 12px;
}

#overview-workspace-box label {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 600;
}
