/* uncomment if you do have pywal configured */
@import url("/home/muhammad/.cache/wal/colors-waybar.css");
/* @define-color background #090909; */
/* @define-color foreground #c3c2c2; */
    /* Special */
/* @define-color cursor #c3c2c2; */

/* Colors */
/* @define-color color0 #090909;
@define-color color1 #103252;
@define-color color2 #5C5C5D;
@define-color color3 #B55331;
@define-color color4 #C9A34E;
@define-color color5 #345DA6;
@define-color color6 #4F9AAE;
@define-color color7 #c3c2c2;
@define-color color8 #888787;
@define-color color9 #103252;
@define-color color10 #5C5C5D;
@define-color color11 #B55331;
@define-color color12 #C9A34E;
@define-color color13 #345DA6;
@define-color color14 #4F9AAE;
@define-color color15 #c3c2c2;
*/
@define-color window-bg alpha(@background, 0.9);
@define-color module-bg alpha(@background, 0.4);
@define-color border-color @color11;
@define-color ws-active @color9;
@define-color ws-inactive @color3;
@define-color ws-empty @color8;
@define-color ws-hover @color1;
@define-color ws-urgent @color11;


* {
    /* unsets everything so we can style everything from scratch. */
    all: unset;
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    color: @foreground;
    /* we can use webcss variables, fabric compiles that to gtk css. */
}


scale {
    margin-top: 10px;
    margin-bottom: 5px;
}

scale trough {
    border-style:solid;
    border-radius: 400px;
    min-height: 3px;
    border-color: #D1CFCF;
    background-color: #D1CFCF;
}

scale trough highlight {
    border-style:solid;
    border-width: 1px;
    border-radius: 400px;
    min-height: 3px;
    border-color: @color3;
    background-color: @color3;
}


scale trough:hover {
    background-color: @color8;
}

#player-box {
    border-radius: 10%;
}

#player-image {
    border-radius: 100%;
}


#player-title {
    font-family: "roboto";
    font-weight: bold;
    color: #000000;
    /* text-shadow: 1px 1px 2px black; */
    font-size: 14px;
} 

#player-artist {
    font-family: "roboto";
    font-size: 10px;
    color: #7D7178;
    /* text-shadow: 1px 1px 2px black; */

}

#button-box {
    margin-bottom: 5px;
    margin-right: 5px;
}

#player-button {
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
    border-radius: 100%;
}

#player-button:hover {
    background: #eee;
    box-shadow: 0 0 2px -3px black;  
}

#player-button:active {
    box-shadow: 0 0 4px -2px black; 
}

#main-window {
    margin-bottom: 10px;
    border: solid 2px;
    border-color: @border-color;
    background-color: @window-bg;
    border-radius: 10px;
}

button {
    border-radius: 100px;
    background-size: 400% 400%;
}

#workspaces {
    margin: 3px;
    padding: 6px;
    background-color: @module-bg;
    border-radius: 100px;
}

#workspaces > button {
    padding: 0px 9px;
    /* transition: min-width 0.15s cubic-bezier(0.2, 0.0, 0, 1.0); */
    transition: min-width 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: @ws-inactive;
}

#workspaces > button > label {
    color: #30303e;
}

#workspaces > button.active {
    min-width: 48px;
    background-color: @ws-active;
}

#workspaces > button.active > label {
    font-weight: 900;
    color: #bec0f8;
}

#workspaces > button.empty {
    background-color: @ws-empty;
}

#workspaces > button.urgent {
    background-color: @ws-urgent;
}

#workspaces > button:hover {
    background-color: @ws-hover;
}

#date-time,
#hyprland-language,
#hyprland-window {
    background-color: @module-bg;
    padding: 0px 8px;
    margin: 3px;
}

#Mode > label,
#date-time > label,
menu > menuitem > label,
#hyprland-language > label,
#hyprland-window > label {
    font-weight: 900;
}

#center-box {
    margin: 1px;
}



/* system tray */

#system-tray {
    margin: 3px;
    padding: 0px 2px;
    background-color: @module-bg;
    border-radius: 100px;
}

#system-tray > button {
    padding: 0px 2px;
    margin: 3px;
}

/* menu and menu items (written for the system tray) */

menu {
    border: solid 2px;
    border-color: @border-color;
    border-radius: 10px;
}

menu > menuitem {
    background-color: @module-bg;
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu > menuitem:first-child {
    margin-top: 1.5px;
    border-radius: 8px 8px 0px 0px;
}

menu > menuitem:last-child {
    margin-bottom: 1.5px;
    border-radius: 0px 0px 8px 8px;
}

menu > menuitem:hover {
    background-color: @border-color;
}

#volume-circular-progress-bar,
#ram-circular-progress-bar {
    border: solid 10px @border-color;
}

#cpu-circular-progress-bar {
    border: solid 0px alpha(@color9, 0.8);
}

#widgets-container {
    border-radius: 100px;
    background-color: @module-bg;
    padding: 3px;
    margin: 3px;
}