/* uncomment if you do have pywal configured */
@import url("/home/muhammad/.cache/wal/colors-waybar.css");

@define-color window-bg alpha(@background, 0.9);
@define-color module-bg alpha(@background, 0.4);
@define-color border-color @color11;
@define-color ws-active @color9;
@define-color ws-inactive @color3;
@define-color ws-empty @color8;
@define-color ws-hover @color1;
@define-color ws-urgent @color11;


* {
    /* unsets everything so we can style everything from scratch. */
    all: unset;
    font-family: "roboto";
    font-weight: 500;
    font-size: 15px;
    color: white;
    /* we can use webcss variables, fabric compiles that to gtk css. */
}

#main-window {
    /* border: solid 2px; */
    /* border-color: #171717; */
    background-color: alpha(#171717, 0.7);
}

#date-time > label {
    font-weight: 900;
}

#center-box {
    margin: 1px;
}

#widgets-container {
    border-radius: 100px;
    background-color: @module-bg;
    padding: 3px;
    margin: 3px;
}