#date>label,
#clock>label {
    font-family: "league spartan";
    font-weight: 800;
    font-size: 96px;
    /* color: alpha(@fg, 0.8); */
    color: mix(@accent, white, 0.2);
}

/* #date>label {
    text-shadow: alpha(mix(@accent, white, 0.3), 1) 3px 3px;
}

#clock>label {
    text-shadow: alpha(mix(@accent, white, 0.3), 1) 5px 5px;
} */

#date,
#clock {
    padding: 0px 10px 0px 10px;
    background-color: transparent;
}

#date {
    padding-top: 10px;
    border-radius: 22px 22px 0px 0px;
}

#clock {
    border-radius: 0px 0px 22px 22px;
}

#date>label {
    font-size: 40px;
    padding-bottom: 6px;
}

/* #sysinfo-container {
    padding: 20px;
    background-color: alpha(#000000, 0.6);
    border-radius: 1.5em;
    min-width: 10px;
} */

/* #battery-circular-progress-bar {
    border-color: alpha(#009d15, 0.5);
    color: alpha(#767676, 0.3);
    min-width: 1em;
}

#cpu-circular-progress-bar,
#ram-circular-progress-bar {
    border-color: green;
    color: alpha(#767676, 0.3);
    min-width: 1em;
} */