@import url("/home/muhammad/.cache/wal/colors-waybar.css");

@define-color window-bg alpha(@background, 0.9);
@define-color module-bg alpha(@background, 0.4);
@define-color border-color @color11;
@define-color ws-active @color9;
@define-color ws-inactive @color3;
@define-color ws-empty @color8;
@define-color ws-hover @color1;
@define-color ws-urgent @color11;

#date>label,
#clock>label {
    /* font-family: "Ubuntu Nerd Font"; */
    /* color: alpha(@fg, 0.8); */
    color: alpha(@bg, 0.8);
    /* text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.05),
              1px -1px 1px rgba(0, 0, 0, 0.05),
             -1px  1px  1px rgba(0, 0, 0, 0.05),
              1px  1px  1px rgba(0, 0, 0, 0.05); */
    font-size: 96px;
    font-weight: 900;
}

#date,
#clock {
    padding: 0px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.0005);
}

#date {
    padding-top: 10px;
    border-radius: 25px 25px 0px 0px;
}

#clock {
    border-radius: 0px 0px 25px 25px;
}


#date>label {
    font-size: 40px;
    padding-bottom: 6px;
}

#sysinfo-container {
    padding: 20px;
    background-color: alpha(#000000, 0.6);
    border-radius: 1.5em;
    min-width: 10px;
}

#battery-circular-progress-bar {
    border-color: alpha(#009d15, 0.5);
    color: alpha(#767676, 0.3);
    min-width: 1em;
}

#cpu-circular-progress-bar,
#ram-circular-progress-bar {
    border-color: green;
    color: alpha(#767676, 0.3);
    min-width: 1em;
}