@import "./style/bar.css";
@import "./style/desktop_widget.css";
/* @import "./style/player.css"; */
@import "./style/player-dark.css";

:vars {
    --accent: #458588;
    --bg: #282828;
    --text-color: #EBDBB2;
    --text-color-secondary: #D5C4A1;
}

@define-color text_color var(--text-color);
@define-color text_color_secondary var(--text-color-secondary);
@define-color accent_color var(--accent);
@define-color bg_color var(--bg);

* {
    /* unsets everything so we can style everything from scratch. */
    all: unset;
    font-family: "roboto";
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color);
    /* we can use webcss variables, fabric compiles that to gtk css. */
}


tooltip {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--bg);
}

scale {
    margin-top: 10px;
    margin-bottom: 10px;
}

#system-tray>button,
#panel-button-active,
#panel-button {
    margin: 0px 1px 0px 1px;
    padding: 0px 5px 0px 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: transparent;
    /* -gtk-icon-shadow:
        -0.5px -0.5px 0 var(--bg),
        0.5px 0.5px 0 var(--bg),
        -0.5px 0.5px 0 var(--bg),
        0.5px -0.5px 0 var(--bg); */

}

#system-tray>button:hover,
#panel-button:hover {
    background-color: alpha(mix(var(--accent), black, 0.5), 0.8);
    border-color: rgba(255, 255, 255, 0.1);
}

#panel-button label {
    font-weight: 800;
}

#system-tray>button:active,
#panel-button-active,
#panel-button-active image,
#panel-button:active label,
#panel-button:active image,
#panel-button:active>*>*>label,
#panel-button:active>*>label,
#panel-button-active> box > label,
#panel-button:active {
    background-color: var(--accent);
    color: var(--bg);
}

#quicksettings-slider {
    /* min-width: 400px; */
    margin-left: 10px;
    margin-right: 20px;
}

#quicksettings-slider trough {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 12.5px;
    min-height: 25px;
    background-color: alpha(#5f5a5a, 0.7);
    border-radius: 20px;
}

#quicksettings-slider trough highlight:disabled {
    background-color: alpha(rgb(176, 176, 176), 0.8);
}

#quicksettings-slider slider:disabled {
    background-color: alpha(rgb(176, 176, 176), 1);

}

#quicksettings-slider trough:hover {
    background-color: alpha(#888888, 0.7);
}

#quicksettings-slider trough highlight {
    border-radius: 20px 0px 0px 20px;
    background-color: var(--accent);
    margin-right: -12.5px;
}

#quicksettings-slider slider {
    border-radius: 100%;
    min-width: 25px;
    min-height: 25px;
    box-shadow: 0px 0px 5px 1px rgb(94, 94, 94);
    margin-left: 25px;
    background-color: mix(var(--accent), white, 0.3);
    /* background-color: alpha(red, 0.2); */
}

#quicksettings-box {
    background-color: alpha(#615e5e, 0.5);
    border-radius: 20px;
}

#quicksettings-slider slider:hover {
    background-color: mix(var(--accent), white, 0.6);
}

#quicksettings-box>box>button {
    margin: 10px -10px 10px 5px;
}

/* #quicksettings-box>box>button>*>*>* {
    -gtk-icon-transform: scale(1);

} */




#battery-icon-charging,
#battery-icon-critical,
#battery-icon-low,
#battery-label,
#battery-icon {
    color: var(--accent);
    font-size: 25px;
}

#battery-icon-charging {
    padding-right: 6px;
}

#battery-label-charging,
#battery-icon-charging {
    color: #00E200;
}

#battery-label-low,
#battery-icon-low {
    color: #FAD800;
}

#battery-label-critical,
#battery-icon-critical {
    color: #FF2A04;
}

#battery-label-charging,
#battery-label-critical,
#battery-label-low,
#battery-label {
    margin: 0px 5px -2px 2px;
    font-size: 15px;
    font-weight: 900;
}

#prayer-info {
    min-width: 140px;
}

#prayer-info>*>*>*>* {
    font-size: 16px;
}


#workspaces>button {
    border-radius: 100%;
    min-width: 10px;
    margin: 13px 2px 13px 2px;
    transition: min-width 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--text-color);
}

#workspaces {
    margin: 0px 5px 0px 5px;
}

/* #workspaces>button>label {
    font-size: 14px;
    color: #CACACA;
} */

#workspaces>button.active {
    border-radius: 5px;
    min-width: 30px;
    margin: 10px 1px 10px 1px;
    background-color: var(--accent);
}

#workspaces>button.empty {
    min-width: 9px;
    margin: 14px 2px 14px 2px;
    background-color: #7B8089;

}

#workspaces>button.empty>label {
    color: #414141;
}

#workspaces>button.urgent {
    background-color: mix(var(--accent), red, 0.5);
}

#workspaces>button:hover {
    background-color: #646464;
}

#prayer-info,
#quicksettings {
    background-color: alpha(var(--bg), 0.7);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: alpha(var(--accent), 0.4);
    padding: 10px;
}

#quicksettings-revealer,
#quicksettings-toggle {
    background-color: #3E3E3E;
}

#quicksettings-toggle-active,
#quicksettings-toggle {
    border-radius: 10px 0px 0px 10px;
    min-width: 150px;
}

#quicksettings-revealer-active,
#quicksettings-revealer {
    border-radius: 0px 10px 10px 0px;
}

#quicksettings-revealer-active>label,
#quicksettings-revealer>label {
    font-size: 27px;
    padding: 0px 8px 0px 8px;
    border-radius: 0px 10px 10px 0px;

}

#system-tray-menu>menuitem menu>menuitem:hover,
#system-tray-menu>menuitem:hover,
#submenu-button:hover,
#quicksettings-toggle:hover,
#quicksettings-revealer:hover {
    background-color: alpha(mix(var(--accent), black, 0.5), 0.8);
    border-color: rgba(255, 255, 255, 0.1);

}

#quicksettings-revealer-active:hover,
#quicksettings-toggle-active:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

#submenu-button:active,
#quicksettings-toggle-active,
#quicksettings-toggle:active,
#quicksettings-revealer-active,
#quicksettings-revealer:active {
    background-color: var(--accent);
}

#submenu-button:active>label,
#quicksettings-revealer:active>label,
#quicksettings-toggle:active>box>label,
#quicksettings-toggle-active>box>label,
#quicksettings-revealer-active>label {
    color: var(--bg);
}

#submenu-title {
    border-style: solid;
    border-bottom-width: 2px;
    border-color: #3E3E3E;
    margin-bottom: 5px;
}

#submenu-label {
    margin-left: 5px;
}

#submenu-title-label {
    font-size: 17px;
}

#system-tray-menu>menuitem menu>menuitem,
#system-tray-menu>menuitem,
#submenu-item {
    margin: 5px 5px 5px 5px;
}

#system-tray-menu>menuitem menu>menuitem:disabled,
#system-tray-menu>menuitem:disabled {
    background-color: var(--bg);
}

#system-tray-menu>menuitem menu>menuitem,
#system-tray-menu>menuitem,
#submenu-button {
    background-color: #3E3E3E;
    padding: 8px;
    border-radius: 10px;
}

#system-tray-menu>menuitem menu,
#system-tray-menu,
#submenu {
    min-width: 450px;
    background-color: alpha(var(--bg), 0.7);
    border-radius: 20px;
    border-width: 5px;
    border-color: alpha(var(--accent), 0.4);
    padding: 10px;
}

#system-tray,
#panel-icon {
    margin-left: 2px;
    font-size: 25px;
    margin-right: 2px;
}


#panel-text {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 900;
}

#osd-box {
    min-width: 25px;
    min-height: 200px;
    border-radius: 25px;
    margin-bottom: 15px;
}