@import "./style/desktop_widget.css";
/* @import "./style/player.css"; */
@import "./style/player-dark.css";



:vars {

    --accent: #83a598;

    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #f7efd1;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
}

* {
    /* unsets everything so we can style everything from scratch. */
    all: unset;
    font-family: "roboto";
    font-weight: 500;
    font-size: 15px;
    color: var(--fg);
    /* we can use webcss variables, fabric compiles that to gtk css. */
}

#main-window {
    /* border: solid 2px; */
    /* border-color: #171717; */
    /* background-color: alpha(#171717, 0.7); */
    background-color: alpha(#111213, 1);
}

tooltip {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--bg);
}

scale {
    margin-top: 10px;
    margin-bottom: 10px;
}

#system-tray>button,
#panel-button-active,
#date-time,
#panel-button {
    margin: 0px 2px 0px 2px;
    padding: 0px 5px 0px 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: transparent;
    /* border-color: alpha(@accent, 0.3); */
}

#date-time:hover,
#system-tray>button:hover,
#panel-button:hover {
    background-color: alpha(mix(var(--accent), black, 0.5), 0.8);
    border-color: alpha(var(--fg), 0.1);
}


#panel-button label {
    font-weight: 800;
}

#date-time label {
    font-weight: 900;
    /* color: var(--orange); */
}


#date-time:active,
#date-time:active label,
#system-tray>button:active,
#panel-button-active,
#panel-button-active image,
#panel-button:active label,
#panel-button:active image,
#panel-button:active>*>*>label,
#panel-button:active>*>label,
#panel-button-active>box>label,
#panel-button:active {
    background-color: var(--accent);
    color: var(--bg);
}

#quicksettings-slider {
    /* min-width: 400px; */
    margin-left: 10px;
    margin-right: 20px;
}

#quicksettings-slider trough {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 12.5px;
    min-height: 25px;
    background-color: alpha(var(--bg3), 0.7);
    border-radius: 20px;
}

#quicksettings-slider trough highlight:disabled {
    background-color: alpha(var(--gray-dim), 0.7);
}

#quicksettings-slider slider:disabled {
    background-color: alpha(var(--gray-dim), 1);

}

#quicksettings-slider trough:hover {
    background-color: alpha(var(--bg4), 0.7);
}

#quicksettings-slider trough highlight {
    border-radius: 20px 0px 0px 20px;
    background-color: var(--accent);
    margin-right: -12.5px;
}

#quicksettings-slider slider {
    border-radius: 100%;
    min-width: 25px;
    min-height: 25px;
    box-shadow: 0px 0px 5px 1px rgb(94, 94, 94);
    margin-left: 25px;
    background-color: mix(var(--accent), white, 0.3);
    /* background-color: alpha(red, 0.2); */
}

#quicksettings-box {
    background-color: alpha(var(--bg1), 0.7);
    border-radius: 20px;
}

#quicksettings-slider slider:hover {
    background-color: mix(var(--accent), white, 0.6);
}

#quicksettings-box>box>button {
    margin: 10px -10px 10px 5px;
}

/* #quicksettings-box>box>button>*>*>* {
    -gtk-icon-transform: scale(1);

} */



#battery-label,
#battery-icon {
    color: mix(var(--accent), rgb(0, 255, 0), 0.2);
    font-size: 25px;
}

#battery-icon.charging {
    padding-right: 6px;
}

#battery-label.charging,
#battery-icon.charging {
    color: var(--green);
}

#battery-label.low,
#battery-icon.low {
    color: var(--yellow);
}

#battery-label.critical,
#battery-icon.critical {
    color: var(--red);
}

#battery-label {
    margin: 0px 5px -2px 2px;
    font-size: 15px;
    font-weight: 900;
}

#prayer-info {
    min-width: 140px;
}

#prayer-info>*>*>*>* {
    font-size: 16px;
}



#workspaces>button {
    border-radius: 100%;
    min-width: 10px;
    margin: 13px 2px 13px 2px;
    transition: min-width 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--fg);
}

#workspaces {
    margin: 0px 5px 0px 5px;
}


#player-stack-button {
    border-radius: 5px;
    min-width: 30px;
    margin: 10px 1px 10px 1px;
    background-color: var(--fg);
}

#player-stack-button:hover {
    background-color: #646464;
}

#player-stack-button.active,
#workspaces>button.active {
    border-radius: 5px;
    min-width: 30px;
    margin: 10px 1px 10px 1px;
    background-color: var(--accent);
}

#player-stack-button.empty,
#workspaces>button.empty {
    min-width: 9px;
    margin: 14px 2px 14px 2px;
    background-color: var(--fg4);

}

#workspaces>button.urgent {
    background-color: var(--red-dim);
}

#workspaces>button:hover {
    background-color: var(--bg4);
}

#prayer-info,
#quicksettings {
    background-color: alpha(var(--bg_h), 0.9);
    border-radius: 20px;
    border-style: solid;
    /* border-width: 5px; */
    /* border-color: alpha(var(--bg_h), 0.9); */
    margin: 5px;
    padding: 15px;
}

#quicksettings-revealer,
#quicksettings-toggle {
    background-color: var(--bg1);
}

#quicksettings-toggle-active,
#quicksettings-toggle {
    border-radius: 10px 0px 0px 10px;
    min-width: 150px;
}

#quicksettings-revealer-active,
#quicksettings-revealer {
    border-radius: 0px 10px 10px 0px;
}

#quicksettings-revealer-active>label,
#quicksettings-revealer>label {
    font-size: 27px;
    padding: 0px 8px 0px 8px;
    border-radius: 0px 10px 10px 0px;

}

#system-tray-menu>menuitem menu>menuitem:hover,
#system-tray-menu>menuitem:hover,
#submenu-button:hover,
#quicksettings-toggle:hover,
#quicksettings-revealer:hover {
    background-color: alpha(var(--bg4), 0.8);
    border-color: alpha(var(--fg), 0.1);

}

#quicksettings-revealer-active:hover,
#quicksettings-toggle-active:hover {
    background-image: linear-gradient(alpha(var(--fg), 0.3) 0%, alpha(var(--fg), 0.3) 100%);
}

#submenu-button:active,
#quicksettings-toggle-active,
#quicksettings-toggle:active,
#quicksettings-revealer-active,
#quicksettings-revealer:active {
    background-color: var(--accent);
}

#submenu-button:active>*,
#quicksettings-revealer:active>*,
#quicksettings-toggle:active>box>*,
#quicksettings-toggle-active>box>*,
#quicksettings-revealer-active>* {
    color: var(--bg);
}

#submenu-title {
    border-style: solid;
    border-bottom-width: 2px;
    border-color: var(--bg3);
    margin-bottom: 5px;
}

#submenu-label {
    margin-left: 5px;
}

#submenu-title-label {
    font-size: 17px;
}

#submenu-item {
    margin: 5px;
}

#system-tray-menu>menuitem menu>menuitem,
#system-tray-menu>menuitem {
    border-width: 1px;
    border-style: double;
    border-color: var(--fg4);
    margin: 5px 0px 5px 0px;
}

#system-tray-menu>menuitem menu>menuitem:disabled,
#system-tray-menu>menuitem:disabled {
    background-color: var(--bg_h);
}

#submenu-button {
    background-color: var(--bg2);
    padding: 8px;
    border-radius: 10px;
}

#system-tray-menu>menuitem menu>menuitem,
#system-tray-menu>menuitem {
    background-color: var(--bg2);
    padding: 5px;
    border-radius: 10px;
}

#system-tray-menu>menuitem menu,
#system-tray-menu,
#submenu {
    min-width: 450px;
    background-color: alpha(var(--bg), 1);
    border-radius: 20px;
    border-width: 5px;
    border-color: alpha(var(--accent), 1);
    padding: 10px;
}

#system-tray,
#panel-icon {
    margin-left: 2px;
    font-size: 25px;
    margin-right: 2px;
}


#panel-text {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 900;
}

#osd-box {
    min-width: 25px;
    min-height: 200px;
    border-radius: 25px;
    margin-bottom: 15px;
}


#hadith-box {
    padding: 40px;
    border-radius: 40px;
    min-width: 1500px;
    background-color: alpha(@bg_h, 0.6);
}

#hadith-ref {
    font-weight: bold;
    font-family: Noto Naskh Arabic UI;
    font-size: 30px;
    color: @fg3;
}

#hadith-text {
    font-family: Noto Naskh Arabic UI;
    font-size: 35px;
    color: @fg;
}

#hadith-number,
#hadith-book {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-top: 20px;
    color: @fg3;
}